// LESS
 
//Цыета фона
@backgroundColorTopHead:#008000;
@backgroundColorTopic:#FAEBD7;

//Цвета текста
@colorTopHead:#fff;
@colorA:#FF7F50;
@colorAinfoHover:#FF0000;
@colorAhover:#FF00FF;

//Размеры шрифта
@fontSizeBig:20px;
@fontSizeMiddle:16px;
@fontSizeLittle:12px;

/*
//////////////////////////////
Начало кода для стилей
///////////////////////////////
*/

 *{
 	margin: 0;
 	padding: 0;
 }
 body{
 	font-family: BeerMoney;
 }
 header{
 	display:block;
 }
header#topHead.color{
	background-color:@backgroundColorTopHead;
	color:@colorTopHead;
}
header#topHead{
	height:40px;
	width:100%
	position:relative;
}
div.container{
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:40px;
}
div.pull-right{
	float:right;
	line-height: 40px;
	font-size:@fontSizeBig;
}
a.info{
	text-decoration:none;
	color:@colorTopHead;
    transition: .3s linear;
    font-weight: 600;
}
a.info:hover{
	text-decoration:underline;
	color:@colorAinfoHover;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-map-marker:before {
    content: "\f041";
}
div.main-menu{
	position:relative;
	width:100%;
	height:100px;
	background-color: @backgroundColorTopic;
	display:inline-block;
}
div.container2{
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:100px;
}
img#logo{
	width:100px;
	height:100px;
}
ul.link_1{
	list-style: none;
	display:inline-block;
	float:right;
	margin:15px auto 15px auto;
	position:relative;
	height:70px;
}
li.link_2{
	display:inline-block;
	margin:20px;
}
a.link_3{
	text-decoration: none;
	color:@colorA;
	font-size: @fontSizeBig;
    transition: .3s linear;
    font-weight: 600;
}
a.link_3:hover{
	text-decoration: underline;
	color:@colorAhover;
}